@*add model iterator to list every row in database*@
@model IEnumerable<HW5.Models.DMV>

    @*Title of page*@
<h2>@ViewBag.Title</h2>

<p>
    @*Link to Create a new row*@
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @*Titles for the table columns*@
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResidenceAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StateAbbreviated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.County)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*Data of the name field*@
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResidenceAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateAbbreviated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            <td>
                @*Link to edit the row based on ID*@
                @Html.ActionLink("Edit", "Edit", new { id=item.ID})
            </td>
        </tr>
    }
</table>
